@import "tailwindcss";

nav {
  height: 70px;
  background-color: #08979C;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 20px;
}



.segment-btn {
  border: 2px solid rgb(61, 61, 61);
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  background-color: white;
  color: rgb(61, 61, 61);
  position: relative;
  left: 100px;
}

.save-btn {
  border: 2px solid whitesmoke;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #28bf99;
  color: white;
  font-weight: 700;
}

.cancel-btn {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  background-color: white;
  color: red;
  font-weight: 700;
}

.form-control {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid rgb(47, 47, 47);
}

.text-underline {
  text-decoration: underline;
  cursor: pointer;
  color: #28bf99;
  font-weight: bold;

}

.remove-container {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #effafa;
  cursor: pointer;
  border-radius: 5px;
}

.selected-schemas-container {
  border: #2cb4cc 2px solid;
  padding: 5px;
  margin-top: 10px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #e2e2e2;
  border-radius: 50%;
}

.circle-user-traits {
  background-color: #4bfe86;
}

.circle-group-traits {
  background-color: rgb(133, 25, 25);
}